@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

body {
  background-color: #73392C;
  margin: 0;
  font-family: 'Space Mono', monospace;
}

.navbar{
  background: #542A20;
  padding: 10px 15px 30px;
  color: #efeeee;
  text-align: center;
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0px 1px 6px 1px grey;
  font-size: 160%;
}

.avatar{
  display: flex;
  flex-direction: column;  
  padding-bottom: 40px;
  border-radius: 0px 0px 8px 8px;
  overflow: hidden;
}

.avatar-img{
  display: flex;
  background: #BF895A;;
   height: 55vh;
   width: auto;
   margin:15px;
   padding: 10px 10px 40px;
   box-shadow: 0px 2px 16px 0px;
   border-radius: 10px;
}
.p-name{
  align-self: flex-end;
}
.img {
  height: 27vh;
}

.btn_swipe {
 display: flex;
 padding-top: 20px;
 justify-content: space-around;
 }

.btn_swipe button {
 border-radius: 50%;
 line-height: 60px;
 width: 60px;
 border: 0;
 background: #011826;
 display: inline-block;
}

.btn_swipe i {
 font-size: 32px;
 vertical-align: middle;
}

.btn-menu {
  line-height: 40px;
  width: 40px;
  border: 0;
  background: #011826;
  display: inline-block;
 }

.fa-comments-o{
   color: #BF895A;
 }

.fa-times{
 color: #F28627;
}

.fa-bars {
  color: #F28627;
  font-size: 24px;
  vertical-align: middle;
}

.signout-icon{
  color: #F28627;
  font-size: 33px;
  margin-left: 7%;
  margin-right: -16%;
  margin-top: 4%;
}

#meu-select {
  border-radius: 18px;
  width: 238px;
  height: 31px;
  border: 1px solid gray;
  padding-left: 12px;
  padding-top: 4px;
  margin-top: 10px;
}

.titulo-avatar {
  color: #ffffff;
}






.background {
  background-color: #efeeee;
}

.main-container{
  justify-content: space-around;
  margin-top: 30px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.escolha-avatar{
margin: 6% 2% 4% 8%;
}



.btn-voltar{
  margin-left: 65%;
}

.primary-button {
  padding: 10px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background-color:  #F28627;
  color: #000000;
  width: 126px;
  height: 40px;
 
  font-size: 16px;
  margin-top: 20px;
}

.primary-button:hover{
  background-color: rgb(243, 216, 193);
}

.logo{
  width: 150px;
  margin-bottom: -20px;
}

.logo-avatar{
  width: 50%;
}

.btn-avt{
  background: none;
  border: 0;
  width: 30%;
  border-bottom: none;

}

.primary-input{
  border-radius: 18px;
  width: 238px;
  height: 31px;
  border: 1px solid gray;
  padding-left: 12px;
  padding-top: 4px;
  margin-top: 10px;
}

.container-post{
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.login-text{
  color: #efeeee;
}

.text-logo{
  font-size: 30px;
  color: #efeeee;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 3px;
}

.erro{
  text-align: center;
  margin-top: 35px;
  width: 92vw;
  color: #efeeee;
}


.signout-icon{
  color: #BF895A;
  font-size: 33px;
}

.signout-icon:hover{
  cursor: pointer;
  color: #73392C;
}


@media (min-width: 900px){

  .container{
    margin: 0px;
  }
  .cover{
    display: inline;
    border-radius: 6px 6px 0 0;
    margin-bottom: -5px;
  }

  .container-main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 37px;
    }

  .main-container{
    flex-direction: row;
    margin-top: 100px;
  }

  .erro {
    width: 20vw;
  }


  .logo{
    height: 280px;
    width: 280px;
    margin-bottom: -37px;
  }

  .text-logo{
    font-size: 45px;
  }


}